//variable
@import "./variable";
// mixin
@import "./mixin.scss";

//css

.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background-color: $color-white-2;
  box-shadow: 0 2px 4px $color-white-1;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      color: $color-blue-1;
      font-size: 40px;
    }
    nav {
      a {
        color: $color-blue-2;
        font-size: 18px;
        transition: 0.3s;
        position: relative;
        &:hover {
          color: $color-blue-1;
        }
        &::before {
          content: "";
          width: 0;
          height: 2px;
          background-color: $color-blue-1;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          transition: 0.3s;
        }
        &:hover::before {
          width: 100%;
        }
        .active {
          width: 100%;
        }
      }
    }
  }
}

.banner {
  background-image: url(../img/product-header-bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  .intro {
    h2 {
      font-size: 60px;
      color: $color-blue-1;
    }
    h3 {
      font-size: 30px;
      color: $color-blue-2;
    }
  }
}
.products {
  padding: 80px 0;
  h2.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    color: $color-blue-2;
  }
  .list {
    .item {
      @include BoxShadow(6);
      border-radius: 8px;
      padding: 30px;
      .wrapper {
        img {
          @include BoxShadow(6);
          border-radius: 8px;
        }
        .desc {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
        }
        .item__price {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .item__title {
          i {
            color: $color-yellow-1;
          }
        }
      }
    }
  }
}

@include Responsive(XL) {
  .products {
    h2.title {
      color: red;
    }
  }
}
