@mixin BoxShadow($base) {
  box-shadow: $base * 1px $base * 1px $base * 2px $color-white-1,
    -$base * 1px -$base * 1px $base * 2px $color-white-3;
}
@mixin Responsive($breakPoint) {
  @if $breakPoint==MD {
    @media screen and (min-width: $MD) {
      @content;
    }
  } @else if $breakPoint==LG {
    @media screen and (min-width: $LG) {
      @content;
    }
  } @else if $breakPoint==XL {
    @media screen and (min-width: $XL) {
      @content;
    }
  }
}
